.DS_Store
.dotnetcli
.idea
.metadata
.settings
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
bin
Bin
coverage
coverage.*
MSBuild_Logs/
obj
packages
project.lock.json
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
*.binlog
*.coverage
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.[Pp]ublish.xml
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
