.metadata
.settings
.vs
_ReSharper*
bin
Bin
BuildOutput
obj
packages
project.lock.json
TestResults
*.DotSettings
*.GhostDoc.xml
*.opensdf
*.sdf
*.sln.cache
*.sln.ide
*.suo
*.user
/src/Tools/NuGet/NuGet.exe.old
